$primaryColor: #FFE300;

html {
    scroll-behavior: smooth;
}

.bg-image {
    background-image: url('../assets/img-noise-361x370.png');
}

.hidden {
    display: none;

}

.hero-section {
    margin: 40px 0;
    margin-bottom: 30px;
    /* border-bottom: 1px solid #eee; */
    padding: 35px 0;
}


.movie {
    &__title {
        margin-top: 20px;
    }

    &__details {
        margin: 10px 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__detail-item {
        border-bottom: 1px solid rgba(238, 238, 238, 0.2901960784313726);
        padding-bottom: 7px;
    }

    &__opening-crawl-title {
        margin-top: 20px;
    }
}

.movie__details {}

.navbar-logo {
    color: $primaryColor;
    font-weight: bold;
    font-size: 24px;
}


.hero-image {
    max-width: 350px;
}

@media all and (max-width:728px) {
    .hero-image {
        max-width: 100%;
    }
}

.footer-class {
    background-color: $primaryColor;
    padding: 15px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.box2 {
    background-color: white;
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
}